<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <Authorizing>
                    <p>Hang on, we're checking your credentials..</p>
                </Authorizing>
                <NotAuthorized>
                    <p>You are not authorized to view this area. Please, sign in.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Oops, there's nothing here..</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>