@inject UserAuthenticationStateProvider AuthState
@inject BrowserStorageService BrowserStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorOAuth</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-1">
                    <div class="profile-container" style="display:flex;align-items:center;padding-left:12px;padding-bottom:10px;cursor:pointer;">
                        <img src="img/anonymous_user.png" style="border-radius:50%;height:35px;" />
                        <span style="color:white;padding-left:15px;">Anonymous</span>
                    </div>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-1">
                    <div class="profile-container" style="display:flex;align-items:center;padding-left:12px;padding-bottom:10px;cursor:pointer;">
                        <img src="@AuthState.CurrentUser.ProfilePicture" style="border-radius:50%;height:50px;" />
                        <span style="color:white;padding-left:15px;">@AuthState.CurrentUser.Username</span>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> User profile
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="signout">
                        <span class="bi bi-box-arrow-in-right-nested-nav-menu" aria-hidden="true"></span> Sign out
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3 show-on-mobile">
                    <GoogleLoginButton />
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
